<h1>Peter Peter Burger Eater</h1>

<div class="container" id="grid">
  <div id="readyBurgers">
    <h3>Order Up!</h3>
    <ul>
      {{#each burgers}}
        {{#unless devoured}}
          <div class="burger" id="{{id}}">
            {{burger_name}} <button class="btnServeEat" data-id="{{id}}" data-devoured="{{devoured}}">SERVICE!</button>
            <button class="delete" data-id="{{id}}">86<button>
          </div>
        {{/unless}}
      {{/each}}
    </ul>
  </div>
  <div id="eatenBurgers">
    <h3>On the Table!</h3>
    <ul>
      {{#each burgers}}
        {{#if devoured}}
          <div class="burger" id="{{id}}">
            {{burger_name}} <button class="btnServeEat" data-id="{{id}}" data-devoured="{{devoured}}">EAT ME</button>
            <button class="delete" data-id="{{id}}">86<button>
          </div>
        {{/if}}
      {{/each}}
    </ul>

  </div>
  <div id="burgerMaker">
    <form class="form" id='makerForm'>
      <input type="text" name="burgerName" id='burgerName' value="">
      <button type="submit" name="btnMakeBurger">Make my burger!</button>
    </form>
  </div>
</div>
